/* Testing a push */
*{
  font-family: 'Playfair Display', serif;
  background-color:#fbfafa;
}

.container{
  text-align: center;
}
.head-container{
  height: 50vh;
  border-bottom: 0.5px solid #d3d3d3;
}
.head-title{
  font-size: 6vw;
  font-weight: lighter;
  margin-top: 20vh;
}
.head-subtitle{
  font-size: 2vw;
}

.skills-container{
  height: 70vh;
  border-bottom: 0.5px solid #d3d3d3;
}
.info-box{
  margin-left: -3vw;
}

.exp-container{
  height: 80vh;
  border-bottom: 0.5px solid #d3d3d3;
}

.contact-container{
  margin-bottom: 5vh;
}
nav{
  display: flex;
  justify-content: space-between;
  font-size: 140%
}
.a-nav{
  padding: 20px;
  text-decoration: none;
}
a:link{
  color: black;
}
a:visited{
  color: black;
}
a:hover{
  color: #3166a9;
}
a:hover{

}
li{
  list-style-type: none;
}
img{
  width: 5vw;
  padding: 30px;
}
