/* Testing a push */
*{
  font-family: 'Playfair Display', serif;
  background-color:#fbfafa;
}

.container{
  text-align: center;
}
.head-container{
  height: 62vh;
  border-bottom: 0.5px solid #d3d3d3;
}
.head-title{
  font-size: 6vw;
  font-weight: lighter;
  margin-top: 12vh;
}
.head-subtitle{
  font-size: 2vw;
}

.skills-container{
  height: 76vh;
  margin-top: 5vh;
}

.skill-line .menu{
  display:inline-flex;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    border-right-style: solid;
    border-width: thin;
    border-color: #E5E5E5;
    font-size: 18px;
}
.skill-line{
  margin-left: 3vw;
}
.skill-img{
  max-width: 5vw;
  min-width: 5vw;

}

#small-logo{
  max-width: 30vw;
}
#hover-image {
  display:inline-flex;
  padding: 15px;

}

.text {
    font-weight: bold;
    z-index: 1;
}
.hide {
    display: none;
}

#softBlock{
  padding: 60px;
}

.left-skills-container{
  display: inline-block;
  width: 40vw;
  margin-left: -38vw;
  position: absolute;
}
.right-skills-container{
  display: inline-block;
  width: 25vw;
  margin-left: 7vw;
  position: absolute;
}
.right2-skills-container{
  display: inline-block;
  width: 25vw;
  margin-left: 7vw;
  position: absolute;
  margin-top: 10vh;
}
#softBlock{
  font-size: 25px;
  font-weight: lighter;
  color:#363636;
}

.info-box{
  margin-left: -3vw;
}

.exp-container{
  height: 80vh;
  border-bottom: 0.5px solid #d3d3d3;
  border-top: 0.5px solid #d3d3d3;

}

.contact-container{
  margin-bottom: 5vh;
}
nav{
  display: flex;
  justify-content: space-between;
  font-size: 140%
}
.a-nav{
  padding: 25px;
  text-decoration: none;
}
a:link{
  color: black;
}
a:visited{
  color: black;
}
a:hover{
  color: #3166a9;
}
.nav-logo{
  width: 15vw;
  height: 23vh;
  margin-left: -3.9vw;
}
li{
  list-style-type: none;
}
.contact-icon{
  width: 5vw;
  padding: 30px;
}
