* {
  background-color: #fbfafa;
  font-family: 'Playfair Display', serif; }

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 25px; }
  nav .nav-logo {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 10px; }
  nav a {
    text-decoration: none; }
  nav a:link {
    color: black; }
  nav a:visited {
    color: black; }
  nav a:hover {
    color: #3166a9; }
  nav .navbar-left {
    width: 40%;
    padding: 30px;
    display: flex;
    justify-content: space-around; }
  nav .navbar-right {
    width: 40%;
    padding: 30px;
    display: flex;
    justify-content: space-around; }
  nav .burger, nav .burger-menu {
    display: none; }

.head-container {
  display: block;
  text-align: center;
  padding-bottom: 160px;
  border-bottom: 0.5px solid #d3d3d3; }
  .head-container .head-title {
    font-size: 68px;
    font-weight: lighter; }
  .head-container .head-subtitle {
    margin-top: -30px; }

.about-container {
  text-align: center;
  font-size: 17px;
  font-weight: lighter;
  height: 650px;
  border-bottom: 0.5px solid #d3d3d3;
  border-top: 0.5px solid #d3d3d3; }
  .about-container .about-title {
    padding-bottom: 20px; }

.about-face {
  width: 300px;
  border-radius: 50%;
  padding: 15px;
  border: 2px solid #d3d3d3;
  float: left;
  margin-left: 120px;
  margin-top: 30px; }

.about-dev {
  float: right;
  margin-top: 60px;
  margin-right: 140px;
  width: 520px; }

.contact-container {
  padding-top: 50px;
  margin-bottom: 20px;
  text-align: center; }
  .contact-container .no-decoration {
    text-decoration: none; }
  .contact-container .contact-para {
    font-family: 'EB Garamond', serif; }
  .contact-container .contact-icon {
    width: 50px;
    padding: 20px; }

.skills-container {
  height: 800px;
  text-align: center; }
  .skills-container .skills-logo {
    width: 450px; }
  .skills-container .skill-line {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 32px 0px;
    cursor: pointer; }
  .skills-container .middle-block {
    width: 850px;
    margin: 0 auto;
    margin-top: 80px; }
  .skills-container .icon {
    border-radius: 5px;
    padding: 15px;
    font-size: 150%;
    margin: 20px;
    position: relative; }
  .skills-container .icon .tooltip {
    visibility: hidden;
    font-size: 15px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125px;
    left: 50%;
    margin-left: -60px; }
  .skills-container .icon .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent; }
  .skills-container .icon:hover .tooltip {
    visibility: visible; }
  .skills-container .skill-icon {
    width: 100px; }
  .skills-container .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.left-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.patterns {
  font-size: 20px; }

.soft-block {
  margin-top: -110px;
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  color: #363636;
  padding: 60px; }
  .soft-block ul {
    list-style: none; }

.skill-icon-container {
  margin-left: -35px; }

.exp-container {
  height: 1250px;
  border-bottom: 0.5px solid #d3d3d3;
  border-top: 0.5px solid #d3d3d3;
  text-align: center; }
  .exp-container .exp-subtitle {
    width: 80%;
    margin: 0 auto; }
  .exp-container .skill-line {
    padding: 20px;
    margin-left: -72px;
    cursor: pointer;
    display: inline-flex; }
    .exp-container .skill-line .menu {
      margin-left: 50px;
      font-size: 18px; }
  .exp-container .proj-left {
    float: left;
    padding: 20px;
    margin-left: -150px; }
  .exp-container .proj-left-text {
    margin-top: 30px;
    text-align: left;
    width: 500px;
    padding-left: 95px; }
  .exp-container .proj-right {
    float: right; }
  .exp-container .proj-right-text {
    margin-top: 55px;
    width: 500px;
    padding-right: 65px;
    text-align: left; }
  .exp-container .inner-firstBlock {
    display: inline-flex; }
  .exp-container .links {
    margin-top: 315px;
    margin-left: -65px;
    position: absolute;
    text-decoration: none; }
  .exp-container .p1 {
    margin-top: 275px; }
  .exp-container .links2 {
    margin-left: 500px;
    margin-top: 20px; }
  .exp-container .link {
    color: black;
    margin-left: 65px;
    font-size: 24px;
    text-decoration: none;
    font-family: 'EB Garamond', serif; }
  .exp-container .link:hover {
    color: #3166a9; }

.experience-item {
  margin-top: 100px; }

.work-experience {
  display: flex;
  justify-content: space-between;
  margin-left: -100px; }

.experience-item-2 {
  margin-left: -200px; }

.description-half {
  width: 50%;
  margin: 0 auto; }

img#blueprint {
  margin-top: 75px; }

li {
  list-style-type: none; }

.disclaimer {
  font-size: 15px;
  margin-left: 65px; }

@media only screen and (max-width: 1130px) {
  .about-dev {
    margin-right: 50px;
    width: 480px; }

  .about-face {
    margin-left: 60px; } }
@media only screen and (max-width: 1080px) {
  .description-half {
    width: 40%; }

  .experience-item-2 {
    margin-left: -160px; }

  .skill-line .menu {
    margin: 0 auto; }

  .skills-container .skill-line {
    justify-content: unset;
    margin: 20px 0 32px 0px; } }
@media only screen and (max-width: 960px) {
  .image-half {
    display: flex;
    justify-content: center; }

  .about-container {
    height: 1000px; }

  .about-face {
    margin-left: 0; }

  .about-dev {
    margin: 0 auto;
    margin-top: 40px;
    float: none; }

  .work-experience, .experience-item-2 {
    display: block;
    margin-left: 0; }

  .exp-container {
    margin-top: 0; }
    .exp-container .description-half {
      width: 80%; }
    .exp-container .inner-firstBlock {
      display: inline-block;
      text-align: center; }
    .exp-container .proj-left {
      float: inherit;
      padding: 0;
      margin-left: 0; }
    .exp-container .proj-left-text {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      padding-top: 20px;
      padding-left: 0; }
    .exp-container .proj-right {
      float: inherit; }
    .exp-container .proj-right-text {
      width: 80%;
      padding: 0;
      padding-bottom: 20px;
      margin: 0 auto; }
    .exp-container .links, .exp-container .links2 {
      margin: 0 0 0 -80px;
      position: inherit; }
    .exp-container .links2 {
      margin-left: -68px; }

  .sky-gazer {
    margin-top: -95px; }

  .skills-container {
    height: fit-content; }
    .skills-container .middle-block {
      width: fit-content; }

  .contact-container .contact-grid {
    margin-left: 5%; }

  img#blueprint {
    position: inherit;
    margin: 0 auto;
    width: 550px;
    margin-top: 20px; } }
@media only screen and (max-width: 950px) {
  .menu-item {
    display: none; }

  .nav-logo {
    width: 250px;
    z-index: 1; }

  .burger {
    display: block; }
    .burger img {
      width: 60px;
      display: block;
      position: absolute;
      margin-left: -10px;
      margin-top: 10px; }

  #mainnav #burger {
    display: block; }

  #mainnav .burger-menu {
    position: absolute;
    text-align: left;
    margin-top: 75px;
    z-index: 0; }
    #mainnav .burger-menu .burger-item {
      display: block; }
      #mainnav .burger-menu .burger-item a {
        display: block;
        padding: .75em 1.5em .5em 1.5em; } }
@media only screen and (max-width: 790px) {
  .exp-container {
    height: fit-content;
    padding-bottom: 30px; }

  .proj-right, .proj-left {
    width: 450px; }

  .skills-container .middle-block {
    width: fit-content; }

  .exp-container .links2, .exp-container .links {
    margin-left: -55px; }

  .exp-container .proj-right-text {
    text-align: center;
    padding-left: 0; } }
@media only screen and (max-device-width: 600px) {
  .about-container {
    height: fit-content; }

  .about-dev {
    font-size: x-large; }

  .exp-container {
    height: fit-content;
    font-size: larger; }

  .sky-gazer {
    margin-top: 25px; } }
@media only screen and (max-width: 540px) {
  .about-container {
    height: 900px; }

  .about-dev {
    margin-right: 0; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .about-container {
    height: 950px;
    padding-bottom: 100px; }
    .about-container .about-title {
      font-size: 3.5em; }
    .about-container .about-face {
      width: 460px; }

  .about-dev {
    font-size: xx-large;
    width: 720px;
    margin-top: 10px; }

  .skills-container .soft-block {
    margin-top: -75px;
    font-size: 1.48em; }
  .skills-container .middle-block {
    width: 1340px; }
  .skills-container .skills-title {
    font-size: 3.5em; }
  .skills-container .skill-line {
    font-size: 2.5em; }
  .skills-container .skill-icon {
    width: 140px; }
  .skills-container .icon .tooltip {
    font-size: 32px;
    width: fit-content;
    padding: 0 15px 0 15px;
    top: 165px;
    left: 37%; }

  .exp-container {
    height: fit-content;
    font-size: xx-large; }
    .exp-container .proj-left {
      padding: 80px;
      margin-left: -150px;
      height: fit-content; }
    .exp-container .proj-left-text {
      width: 904px;
      padding-left: 0; }
    .exp-container .proj-right {
      height: fit-content;
      margin-top: 100px; }
    .exp-container .proj-right-text {
      width: 780px;
      margin-top: 55px;
      padding-right: 35px; }
    .exp-container .p1 {
      margin-top: 355px;
      margin-left: -10px; }
    .exp-container .links {
      margin-top: 375px;
      margin-left: 16px; }
    .exp-container .links2 {
      margin-right: 330px;
      float: right; }
    .exp-container .skill-line {
      position: inherit; }
      .exp-container .skill-line .menu {
        font-size: 1.2em;
        margin-left: 65px; }

  .star-gazer {
    margin-top: -220px; }

  .contact-container {
    font-size: x-large; }
    .contact-container .contact-icon {
      width: 80px; } }
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .about-container .about-face {
    width: 550px; }

  .about-dev {
    width: 1000px;
    margin-top: 60px; } }

/*# sourceMappingURL=style.css.map */
