* {
  background-color: #fbfafa;
  font-family: 'Playfair Display', serif; }

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 25px; }
  nav .nav-logo {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 10px; }
  nav a {
    text-decoration: none; }
  nav a:link {
    color: black; }
  nav a:visited {
    color: black; }
  nav a:hover {
    color: #3166a9; }
  nav .navbar-left {
    width: 40%;
    padding: 30px;
    display: flex;
    justify-content: space-around; }
  nav .navbar-right {
    width: 40%;
    padding: 30px;
    display: flex;
    justify-content: space-around; }
  @media only screen and (max-width: 950px) {
    nav a {
      display: none; }
    nav .nav-logo {
      width: 250px; } }

.head-container {
  display: block;
  text-align: center;
  padding-bottom: 160px;
  border-bottom: 0.5px solid #d3d3d3; }
  .head-container .head-title {
    font-size: 68px;
    font-weight: lighter; }
  .head-container .head-subtitle {
    margin-top: -30px; }

.about-container {
  text-align: center;
  font-size: 17px;
  font-weight: lighter;
  height: 650px;
  border-bottom: 0.5px solid #d3d3d3;
  border-top: 0.5px solid #d3d3d3; }
  .about-container .about-title {
    padding-bottom: 20px; }

.about-face {
  width: 300px;
  border-radius: 50%;
  padding: 15px;
  border: 2px solid #d3d3d3;
  float: left;
  margin-left: 60px;
  margin-top: 2vh; }

.about-dev {
  float: right;
  margin-top: 60px;
  margin-right: 140px;
  width: 520px; }

@media only screen and (max-width: 960px) {
  .about-container {
    height: 1000px; }

  .about-face {
    margin-left: 35%; }

  .about-dev {
    margin: 0;
    margin-right: 30%;
    margin-top: 11px; } }
@media only screen and (max-width: 537px) {
  .about-container {
    height: 1100px; }

  .about-dev {
    margin-right: 0; } }
.contact-container {
  margin-bottom: 2vh;
  text-align: center; }
  .contact-container .contact-para {
    font-family: 'EB Garamond', serif;
    padding-bottom: 60px; }
  .contact-container .contact-icon {
    width: 50px;
    padding: 20px; }

@media only screen and (max-width: 960px) {
  .contact-container .contact-grid {
    margin-left: 5%; } }
.skills-container {
  height: 800px;
  text-align: center; }
  .skills-container .skills-logo {
    width: 450px; }
  @media only screen and (max-width: 1080px) {
    .skills-container .skill-line .menu {
      margin-left: 20vw; } }
  .skills-container .skill-line {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 32px 32px;
    cursor: pointer; }
  .skills-container .middle-block {
    width: 850px;
    margin: 0 auto;
    margin-top: 80px; }
  .skills-container .icon {
    border-radius: 5px;
    padding: 15px;
    font-size: 150%;
    margin: 20px;
    position: relative; }
  .skills-container .icon .tooltip {
    visibility: hidden;
    font-size: 15px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125px;
    left: 50%;
    margin-left: -60px; }
  .skills-container .icon .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent; }
  .skills-container .icon:hover .tooltip {
    visibility: visible; }
  .skills-container .skill-icon {
    width: 100px; }
  .skills-container .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.left-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.patterns {
  font-size: 20px; }

.soft-block {
  margin-top: -110px;
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  color: #363636;
  padding: 60px; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    .soft-block {
      font-size: 35px;
      margin-top: 20px; } }
  .soft-block ul {
    list-style: none; }

.info-box {
  margin-left: -3vw; }

.exp-container {
  height: 1150px;
  border-bottom: 0.5px solid #d3d3d3;
  border-top: 0.5px solid #d3d3d3;
  text-align: center; }
  .exp-container .exp-subtitle {
    width: 80vw;
    margin-left: 8vw; }
  .exp-container .skill-line {
    padding: 20px;
    margin-left: -72px;
    cursor: pointer;
    display: inline-flex; }
    .exp-container .skill-line .menu {
      margin-left: 50px;
      font-size: 18px; }
  .exp-container .proj-left {
    float: left;
    padding: 20px;
    margin-left: -10vw; }
  .exp-container .proj-left-text {
    margin-top: 5vh;
    text-align: left;
    width: 35vw;
    padding-left: 5vw; }
  .exp-container .proj-right {
    float: right; }
  .exp-container .proj-right-text {
    margin-top: 10vh;
    width: 35vw;
    padding-right: 5vw;
    text-align: left; }
  .exp-container .inner-firstBlock {
    display: inline-flex; }
  .exp-container .links {
    margin-top: 42vh;
    margin-left: -5.5vw;
    position: absolute;
    text-decoration: none; }
  .exp-container .links2 {
    margin-left: 40vw;
    margin-top: 4vh; }
  .exp-container .link {
    color: black;
    margin-left: 65px;
    font-size: 24px;
    text-decoration: none;
    font-family: 'EB Garamond', serif; }
  .exp-container .link:hover {
    color: #3166a9; }

.experience-item {
  margin-top: 100px; }

.work-experience {
  display: flex;
  justify-content: space-between;
  margin-left: -100px; }

.experience-item-2 {
  margin-left: -200px; }

.description-half {
  width: 50%;
  margin: 0 auto; }

img#blueprint {
  position: absolute;
  margin-left: -45%;
  margin-top: 75px; }

li {
  list-style-type: none; }

.disclaimer {
  font-size: 15px;
  margin-left: 5vw; }

/*# sourceMappingURL=style.css.map */
