*{
  background-color: #fbfafa;
  font-family: 'Playfair Display', serif;
}
//START HERO//
//Nav bar
nav { width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;

  .nav-logo{width:200px; display: block; margin: auto; margin-top: 10px;}
  a{text-decoration: none;}
  a:link{color: black;}
  a:visited{color: black;}
  a:hover{color: #3166a9;}

  .navbar-left{
    width: 40%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.navbar-right{
  width: 40%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 950px){a{display: none} .nav-logo{width: 250px;}}
}
//HEADER
.head-container{
  display: block;
  text-align: center;
  margin-top: -250px;
  padding-bottom: 160px;
  border-bottom: 0.5px solid #d3d3d3;
  .head-title{
    font-size: 68px;
    font-weight: lighter;
  }
  .head-subtitle{
    margin-top: -30px;
  }
}
//END OF HERO//
//START OF ABOUT//
.about-container{
  text-align: center;
  border-bottom: 0.5px solid #d3d3d3;
  font-size: 17px;
  font-weight: lighter;
  height: 650px;
  border-bottom: 0.5px solid #d3d3d3;
  border-top: 0.5px solid #d3d3d3;

  .about-title{padding-bottom: 20px;}
}
//
img{
  width: 360px;
  border-radius: 50%;
  padding-left: 15px;
  float: left;
  margin-left: 10vw;
  margin-top: -40px;;
}
.about-face{
  width: 25vw;
  border-radius: 50%;
  padding: 15px;
  border: 2px solid #d3d3d3;
  float: left;

  margin-top: 2vh;
}
.about-dev{
  float: right;
  margin-top: 16vh;
  margin-right: 15vw;
  width: 40vw;
}
@media only screen and (max-width: 960px){
.about-container{height:1000px; }
.about-face{margin-left: 35%;}
.about-dev{margin: 0; margin-right: 30%; margin-top: 11px;}
}
@media only screen and (max-width: 537px){
  .about-container{height:1100px; }
}

.contact-container{
  margin-bottom: 2vh;
  text-align: center;
  .contact-para{
    font-family: 'EB Garamond', serif;
    padding-bottom: 60px;
  }
  .contact-grid{
    margin-left: 18%;
  }
  .contact-icon{
    width: 50px;
    padding: 20px;
  }
}
@media only screen and (max-width: 960px){
.contact-container  .contact-grid{
    margin-left: 5%;
  }
}
