*{
  background-color: #fbfafa;
  font-family: 'Playfair Display', serif;
}
//START HERO//
//Nav bar
nav { width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;

  .nav-logo{width:200px; display: block; margin: auto; margin-top: 10px;}
  a{text-decoration: none;}
  a:link{color: black;}
  a:visited{color: black;}
  a:hover{color: #3166a9;}

  .navbar-left{
    width: 40%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.navbar-right{
  width: 40%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 950px){a{display: none} .nav-logo{width: 250px;}}
}
//HEADER
.head-container{
  display: block;
  text-align: center;
  padding-bottom: 160px;
  border-bottom: 0.5px solid #d3d3d3;
  .head-title{
    font-size: 68px;
    font-weight: lighter;
  }
  .head-subtitle{
    margin-top: -30px;
  }
}

//START OF ABOUT//
.about-container{
  text-align: center;
  font-size: 17px;
  font-weight: lighter;
  height: 650px;
  border-bottom: 0.5px solid #d3d3d3;
  border-top: 0.5px solid #d3d3d3;

  .about-title{padding-bottom: 20px;}
}

.about-face{
  width: 300px;
  border-radius: 50%;
  padding: 15px;
  border: 2px solid #d3d3d3;
  float: left;
  margin-left: 120px;

  margin-top: 2vh;
}
.about-dev{
  float: right;
  margin-top: 60px;
  margin-right: 140px;
  width: 520px;
}
@media only screen and (max-width: 1130px){
  .about-dev{margin-right: 50px; width: 480px;}
  .about-face{margin-left: 60px;}
}
@media only screen and (max-width: 960px){
  .image-half{display: flex; justify-content: center;}
  .about-container{height:1000px; }
  .about-face{margin-left: 0;}
  .about-dev{margin: 0 auto; margin-top: 50px; float: none;}
}
@media only screen and (max-width: 540px){
  .about-container{height:950px; }
  .about-dev{margin-right: 0}
}

.contact-container{
  margin-bottom: 2vh;
  text-align: center;
  .contact-para{
    font-family: 'EB Garamond', serif;
    padding-bottom: 60px;
  }

  .contact-icon{
    width: 50px;
    padding: 20px;
  }
}
@media only screen and (max-width: 960px){
.contact-container  .contact-grid{
    margin-left: 5%;
  }
}
//END OF ABOUT

//START OF SKILLS
.skills-container{
  height: 800px;
  text-align: center;
.skills-logo{
  width: 450px;
}
  .skill-line{
    display: flex;
    justify-content: space-around;
    margin: 20px 0 32px 32px;
    cursor: pointer;
  }
  .middle-block{
    width: 850px;
    margin: 0 auto;
    margin-top: 80px;
  }
  .icon{
    border-radius: 5px;
    padding: 15px;
    font-size: 150%;
    margin: 20px;
    position: relative;
  }
  .icon .tooltip {
    visibility: hidden;
    font-size: 15px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125px;
    left: 50%;
    margin-left: -60px;
  }

  .icon .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

  .icon:hover .tooltip {
    visibility: visible;
  }


  .skill-icon{
    width: 100px;
  }
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.left-block{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.patterns{
  font-size: 20px;
}
  .soft-block{
    margin-top: -110px;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    color:#363636;
    padding: 60px;
    @media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
      font-size: 35px;
      margin-top: 20px;
    }
    ul{
      list-style: none;
    }
  }
  .info-box{
    margin-left: -3vw;
  }

  @media only screen and (max-width: 1080px){
    .skill-line .menu{margin: 0 auto}
    .skills-container{.skill-line{justify-content: unset;margin: 20px 0 32px 20px;}}
  }
  @media only screen and (max-width: 960px){
    .skills-container{
      height: fit-content
    }
    .skills-container{ .middle-block{
      width: fit-content}
  }
}


  //EXPERIENCE:
  //SECTION 4 -> EXPERIENCE
    .exp-container{
      height: 1150px;
      border-bottom: 0.5px solid #d3d3d3;
      border-top: 0.5px solid #d3d3d3;
      text-align: center;
      .exp-subtitle{
        width: 80vw;
        margin-left: 8vw;

      }
      .skill-line{
        padding: 20px;
        margin-left: -72px;
        cursor: pointer;
        display: inline-flex;
        .menu{
          margin-left: 50px;
          font-size: 18px;
        }

      }
      .proj-left{
        float:left;
        padding: 20px;
        margin-left: -10vw;
      }
      .proj-left-text{
        margin-top: 5vh;
        text-align: left;
        width: 35vw;
        padding-left: 5vw;
      }

      .proj-right{
        float: right;
      }
      .proj-right-text{
        margin-top: 10vh;
        width: 35vw;
        padding-right: 5vw;
        text-align: left;
      }

      .inner-firstBlock{
        display: inline-flex;
      }

      .links{
        margin-top:42vh;
        margin-left: -5.5vw;
        position: absolute;
        text-decoration: none;

      }
      .links2{
        margin-left: 40vw;
        margin-top: 4vh;

      }
      .link{
        color: black;
        margin-left: 65px;
        font-size: 24px;
        text-decoration: none;
        font-family: 'EB Garamond', serif;
      }
      .link:hover{
        color: #3166a9;
      }
    }
    .experience-item{
      margin-top: 100px;
    }
    .work-experience{
      display: flex;
      justify-content: space-between;
      margin-left: -100px;
    }
    .experience-item-2{
      margin-left: -200px
    }
    .description-half{
      width: 50%;
      margin: 0 auto;
    }
    img#blueprint{
      position: absolute;
      margin-left: -650px;
      margin-top: 75px;
    }

    li{
      list-style-type: none;
    }


    @media only screen and (max-width: 1080px){
      .description-half{ width: 40%}
      .experience-item-2{margin-left: -160px}
    }
    @media only screen and (max-width: 960px){
      .description-half{ width: 80%}
      .experience-item{margin-top: 0;}
      .work-experience{display: block; margin-left: 0;}
      .experience-item-2{margin-left: 0px}


      .exp-container{.inner-firstBlock{display: inline-block; text-align: center;}}
      .exp-container{.proj-left{float: inherit;padding: 0;margin-left: 0;}}
      .exp-container{.proj-left-text{text-align: center; width: 80%; margin: 0 auto; padding-top: 20px;}}
      .sky-gazer{margin-top: -50px;}
      .exp-container .proj-right-text {width: 80%; padding: 0; margin: 0 auto;}
      .exp-container{.proj-right{float: inherit }}
      .exp-container .links{margin: 0; position: inherit;}
      .exp-container .links2{margin: 0; position: inherit;}
      img#blueprint{position: inherit;margin: 0 auto;width: 550px;margin-top: 20px;
    }
  }
    .disclaimer{
      font-size: 15px;
      margin-left: 5vw;
    }
